<ion-view>
<ion-content>
<div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:30%;"><p class="transparentText">t </p></div></div>
</div>
  </ion-content> 
  <ion-content class="containQuestion">
 
    <h3 class="questionText">Rentrez la date de vos derniere regle</h3>
	<form name="gro" ng-submit="submit(gros)">

				<input class="dateMenstruation" type="date" name="gros" placeholder="JJ/MM/AAAA" ng-model="gros">
				<div class="buttonValid">
        <button type="Submit" class="button">Ok</button>
			</form>