<ion-view>
	<ion-content>
	
	  	<!-- div progressing questionaire -->
		<div class="progressingDiv">
			<div class="progressingInsideDiv" style="width:30%;">
				<p class="transparentText">t</p>
			</div>
		</div>
		
	</ion-content> 
	<ion-content class="containQuestion">
 
		<h3 class="questionText">
			Rentrez la date de vos dernière règle
		</h3>
		
		<form name="menstruation" ng-submit="submit(menstruation)">
	
			<input class="dateMenstruation" type="date" name="menstruation" placeholder="JJ/MM/AAAA" ng-model="menstruation">
			
			<div class="buttonValid">
				<button type="Submit" class="button">
					Ok
				</button>
			</div>
		
		</form>
	</ion-content>
</ion-view>