<ion-view name=step23-view>
<ion-content>
 <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:69%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
  
     <h3 class="questionText">{{QSize}}</h3>    
 
      <input class="numberInput" type=number ng-model=Size placeholder=>

         <div class="buttonValid">
      <button class=button button-block button-calm ng-click=nb(Size)>{{OK}}</button>
  </div>
  </ion-content>
</ion-view>