<ion-view view-title='Résultat' name='profil'>
  <ion-content class=padding>
  <div id="ProfilPregant"><p><span ng-bind=ProfilPregnant></span></p></div>
  <div id="resultProfil"><p><span ng-bind=resultProfil></span></p></div>
  <div id="profil"><p><span ng-bind=profil></span></p></div>
  <div id="profil1"><p><span ng-bind=profil1></span></p></div>
  <div id="profil2"><p><span ng-bind=profil2></span></p></div>
  <div id="profil3"><p><span ng-bind=profil3></span></p></div>
  <div id="profil4"><p><span ng-bind=profil4></span></p></div>
  <div id="profil5"><p><span ng-bind=profil5></span></p></div>
  <div id="profil6"><p><span ng-bind=profil6></span></p></div>
  <div id="profil7"><p><span ng-bind=profil7></span></p></div>
  <div id="profil8"><p><span ng-bind=profil8></span></p></div>
  <div id="profil9"><p><span ng-bind=profil9></span></p></div>
  <div id="profil10"><p><span ng-bind=profil10></span></p></div>
  <div id="profil11"><p><span ng-bind=profil11></span></p></div>
  <div id="profil12"><p><span ng-bind=profil12></span></p></div>
  <div id="profil13"><p><span ng-bind=profil13></span></p></div>
  <div id="profil14"><p><span ng-bind=profil14></span></p></div>
  <div id="profil15"><p><span ng-bind=profil15></span></p></div>
  <div id="profil16"><p><span ng-bind=profil16></span></p></div>
  <div id="profil17"><p><span ng-bind=profil17></span></p></div>
  <div id="profil18"><p><span ng-bind=profil18></span></p></div>

</div>
      <button class=button button-block button-calm ng-click=changeview()>Valider</button>
  </ion-content>
</ion-view>
