<ion-view view-title=Step1 name=step1-view>
  <ion-content>
<div style="min-width:100%; height:10px;">
    <div style="width:3%; background-color:rgb(217,157,164);"><p style="color:rgba(0,0,0,0)">t </p></div>

</div>
  </ion-content> 
  <ion-content class="containQuestion">
      <h3 class="questionText">{{QAge}}</h3>
      <p>Plus votre âge est elevé, plus les risques de complications obstétricales sont importantes, pour le foetus et pour vous. </p>
      <input class="numberInput" type=number ng-model=HAge placeholder=>
      <div class="buttonValid">
      <button class=button button-block button-calm ng-click=nb(HAge)>Valider</button>
    </div>
  </ion-content>
</ion-view>
