<ion-view name=step24-view>
<ion-content>
<div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:72%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText">Quel est votre poids&nbsp?</h3>    
<input class="numberInput" type=number ng-model=Weight placeholder=>
      <div class="buttonValid">
      <button class=button button-block button-calm ng-click=nb(Weight)>{{OK}}</button>
  </div>
  </ion-content>
</ion-view>