<ion-view name=step14-view>
<ion-content>
 <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:39%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText">{{QMiscarriage}}</h3>    
     <p>La perte foetale est un facteur de stress émotionnel important, de plus, les fausses couches à répétion sont à explorer avant une nouvelle grossesse car il existe des traitements à débuter dès la conception, voire avant la conception. </p>
    <form name="check" ng-submit="Submit(yes, no)" novalidate="">
      <div class="buttons">
        <ion-list>
        <div id="yesCheck9" class=checkboxValid>
            <ion-checkbox ng-checked="yesc" ng-click="checked(yes, no)" ng-model="yes">Oui</ion-checkbox>
          </div>
          <div id="noCheck9" class=checkboxValid>
            <ion-checkbox ng-checked="noc" ng-click="checked(yes, no)" ng-model="no">Non</ion-checkbox>
          </div>
        </ion-list>
      </div>    
      <div class="buttonValid">
        <button type="Submit" class="button">Valider</button>
      </div>
    </form>
  </ion-content>
</ion-view>