<ion-view name=step4-view>
<ion-content>
        <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:12%;"><p class="transparentText">t </p></div></div>
</div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText">{{QChild}}</h3>    
     <p>La façon dont vous avez déjà mené une grossesse et donné naissance en dit beaucoup sur la la façon dont les choses pourraient se passer pour une grossessse à venir</p>
    <form name="check" ng-submit="Submit(yes, no)" novalidate="">
      <div class="buttons">
        <ion-list>
           <div id="yesCheck3" class=checkboxValid>
            <ion-checkbox ng-checked="yesc" ng-click="checked(yes, no)" ng-model="yes">Oui</ion-checkbox>
          </div>
          <div id="noCheck3" class=checkboxValid>
            <ion-checkbox ng-checked="noc" ng-click="checked(yes, no)" ng-model="no">Non</ion-checkbox>
          </div>
        </ion-list>
      </div>    
      <div class="buttonValid">
        <button type="Submit" class="button">Valider</button>
      </div>
    </form>
  </ion-content>
</ion-view>
