<ion-view name=step5-view>
	<ion-content>
		
  	<!-- div progressing questionaire -->
		<div class="progressingDiv">
			<div class="progressingInsideDiv" style="width:15%;">
				<p class="transparentText">t</p>
			</div>
		</div>

	</ion-content> 
  
	<ion-content class="containQuestion">

		<h3 class="questionText">
			Combien avez-vous d'enfant&nbsp?
		</h3>

		<input class="numberInput" type=number ng-model=child placeholder=>

			<div class="buttonValid">
				<button class=button button-block button-calm ng-click=InputNumber(child)>
					Valider
				</button>
			</div>

	</ion-content>
</ion-view>
