<ion-view name=step11-view>
<ion-content>
 <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:33%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
  
     <h3 class="questionText">{{QPregnantDiabete}}</h3>    
    <form name="check" ng-submit="Submit(yes, no)" novalidate="">
      <div class="buttons">
        <ion-list>
           <div id="yesCheck8" class=checkboxValid>
            <ion-checkbox ng-checked="yesc" ng-click="checked(yes, no)" ng-model="yes">Oui</ion-checkbox>
          </div>
          <div id="noCheck8" class=checkboxValid>
            <ion-checkbox ng-checked="noc" ng-click="checked(yes, no)" ng-model="no">Non</ion-checkbox>
          </div>
        </ion-list>
      </div>    
      <div class="buttonValid">
        <button type="Submit" class="button">Valider</button>
      </div>
    </form>
  </ion-content>
</ion-view>
