<ion-view name=step7-view>
<ion-content>
        <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:21%;"><p class="transparentText">t </p></div></div>
</div>
  </ion-content> 
  <ion-content class="containQuestion">

       <h3 class="questionText">{{QHBigChild}}</h3>
        <input class="numberInput" type=number ng-model=HBigChild placeholder=>
      <div class="buttonValid">
      <button class=button button-block button-calm ng-click=nb(HBigChild)>{{OK}}</button>
    </div>
  </ion-content>
</ion-view>

