<ion-view view-title='profil' name='profil'>
  <ion-content class=padding>
  <p><span ng-bind=ProfilPregnant></span></p>	
  <p><span ng-bind=resultProfil></span></p>
  <p><span ng-bind=profil></span></p>
  <p><span ng-bind=profil1></span></p>
  <p><span ng-bind=profil2></span></p>
  <p><span ng-bind=profil3></span></p>
  <p><span ng-bind=profil4></span></p>
  <p><span ng-bind=profil5></span></p>
  <p><span ng-bind=profil6></span></p>
  <p><span ng-bind=profil7></span></p>
  <p><span ng-bind=profil8></span></p>
  <p><span ng-bind=profil9></span></p>
  <p><span ng-bind=profil10></span></p>
  <p><span ng-bind=profil11></span></p>
  <p><span ng-bind=profil12></span></p>
  <p><span ng-bind=profil13></span></p>
  <p><span ng-bind=profil14></span></p>
  <p><span ng-bind=profil15></span></p>
  <p><span ng-bind=profil16></span></p>
  <p><span ng-bind=profil17></span></p>
  <p><span ng-bind=profil18></span></p>

</div>
  </ion-content>
</ion-view>
