/* Empty. Add your own CSS if you like */

.resultDivRisk {
 background-color: rgba(255,153,153, 0.5);
 padding: 4px;
}
.resultDivRisk p{
 text-align: left;
 font-size: .9em;
}

.resultDivConseil {
 background-color: rgba(106,144,149, 0.5);
}
.resultDivConseil p {
 text-align: left;
 font-size: .9em;
}
.resultDivPositif {
 background-color: rgba(230,230,230, 0.5);
}
.resultDivPositif p{
 text-align: left;
 font-size: .9em;
}
.progressingDiv{
  min-width:100%;
  height:10px;
  border: 1px solid rgb(230,230,230);
  position: fixed;
  overflow: none;
}
.progressingInsideDiv {
  background-color:rgb(217,157,164);
  border-radius: 1px;
  margin: 0;
  padding: 0;
  max-height: 8px;
}
.transparentText{
  color:rgba(0,0,0,0); 
  font-size:1px;
}
.progressBar{
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 15px;

  /* Firefox */
  border: none;
  background: transparent;
  border-radius: 3px;
}

.divProgress{

	background-color: #FFF;
}
.questionText{
	color: rgb(106,144,149);
}
.containQuestion{
	margin-top: 20px;
	padding: 30px;
}
.buttons{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.checkboxValid{
	background-color: transparent;
	border: 2px solid rgb(230,230,230);
	display: inline-block;
	color: rgb(200,200,200);
}
.numberInput{
	border-style: solid;
	border-width:1px;
	border-color:rgb(218,218,218); 
	text-align: center;
	margin: auto;
	min-width: 50%;
}
.custom-icon {
  color:rgb(218,218,218);
}
.numberInput::hover{
border-color: rgb(106,144,149);
}

.buttonValid{
	margin: 10px;
	text-align: center;
}
.buttonValid button{
	padding: 6px;
	line-height:16px;
	border-radius: 5px;
  font-weight: bold;
	min-width: 50%;
}


.derniereRegle {
	text-align: center;
}
.derniereRegle label{
	font-size: 1.3em;
	font-weight: bold;
	font-family: cursive;
}
.derniereRegle p{
	font-family: cursive;
	font-size: 1.1em;
}
.derniereRegle input{
text-align: center;
background-color: #E2E2E2;
min-width: 100%;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #96B1B4;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: rgb(217,157,164);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #96B1B4;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #96B1B4;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: rgb(217,157,164);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #96B1B4;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #96B1B4;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: rgb(217,157,164);
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #96B1B4;
}
input[type=range]:focus::-ms-fill-upper {
  background: #96B1B4;
}

.questionaire{
	text-align: center;
	vertical-align: inline-block;
}
.passe {
	background-color: rgba(0,0,0,0.1);
	color: black
}
.avenir{
	background-color: rgba(0,100,0,0.2);
	color: black;
}
button.accordion{
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
div.panel {
    padding: 0 18px;
}
div.passe button{
	background-color: rgba(239,255,247,1);
	color: black
}
div.avenir button{
	background-color: rgba(255,207,207,1);
	color: black;
}
.questionaire select {
	width: 100%;
	background-color: rgba(255, 255,255, 0.6);
	border-radius: 2px;

}
.questionaire button {
	width: 100%;
		background-color: rgba(234, 105,126, 0.9);

}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.question{
	background-color: #DEB9BF;
	border-radius: 2px;
	font-style: bold;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-bottom: 10px;
	min-height: 40px;
}
.orange{
	background-color: #E16135;
	color: white;
	text-align: center;
}
.or{
	background-color: #EA9071;
	color: white;
	text-align: center;
}
.o{
	background-color: #B5E135;
	color: white;
	text-align: center;
}
.bl{
	background-color: #8A68A0;
	color: white;
	text-align: center;
}
.bl1{
	background-color: #AD95BC;
	color: white;
	text-align: center;
}
.item {
	font-size: 15px;
}
h6 {
	text-align: center;
	color: #124861;
	font-family: "wmMensch";
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
}

h3{
	text-align: center;
	color: green;
font-family: monaco,Consolas,Lucida Console,monospace;
font-weight: bold;
	padding-bottom: 30px;
}
h4{
	text-align: center;
	font-weight: bold;
	color: #1E78A3;
}