<ion-view name=step1-view>

  	<!-- div progressing questionaire -->
  	<ion-content>
		<div class="progressingDiv">
	  		<div class="progressingInsideDiv" style="width:3%;">
				<p class="transparentText">t</p>
	 		</div>
	 	</div>
	</ion-content>

  	<ion-content class="form-question">
		<h3 class="form-question-title">
			Quel âge avez-vous ?
		</h3>
		<input class="input-block" type="number" ng-model="age" placeholder="">

		<div class="center-button-box">
			<button class="button button-block button-calm" ng-click="InputNumber(age)">
				Valider
			</button>
		</div>

  </ion-content>
</ion-view>
