<ion-view name=step1-view>

  	<!-- div progressing questionaire -->
  	<ion-content>
		<div class="progressingDiv">
	  		<div class="progressingInsideDiv" style="width:3%;">
				<p class="transparentText">t</p>
	 		</div>
	 	</div>
	</ion-content> 
  	
  	<ion-content class="containQuestion">
		<h3 class="questionText">
			Quel âge avez-vous&nbsp?
		</h3>
		<input class="numberInput" type=number ng-model=age placeholder=>
		
		<div class="buttonValid">
			<button class=button button-block button-calm ng-click=InputNumber(age)>
				Valider
			</button>
		</div>

  </ion-content>
</ion-view>
