<ion-view name=step29-view>
<ion-content class="noscroll">
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:66%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText">Vous et vos sentiments</h3>
<form name="med" ng-submit="Submit(AngoisseCriseAnswer,BoulimieAnswer, AnorexieAnswer, TocAnswer, DepressionAnswer, PhobieAnswer, BipolaireAnswer, HPAnswer )" novalidate="">
  <ion-list>
    <ion-checkbox ng-model="AngoisseCriseAnswer">
      Je suis heureuse d'être enceinte
    </ion-checkbox>
    <ion-checkbox ng-model="BoulimieAnswer">
      Je suis heureuse à la perspective d'avoir un bébé
    </ion-checkbox>
    <ion-checkbox ng-model="AnorexieAnswer">
      Je suis angoissé d'être enceinte
    </ion-checkbox>
    <ion-checkbox ng-model="TocAnswer">
      Je suis angoissé à la perspective d'accoucher
    </ion-checkbox>
      <ion-checkbox ng-model="DepressionAnswer">
      Je suis angoissé à la perspective d'avoir un bébé
      </ion-checkbox>
  </ion-list>
   <button type="Submit">Valider</button>
</form>
   </ion-content>
</ion-view>